/* font import */
/*@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700|Roboto:400,400b,400i|Dancing+Script'|'Jacques+Francois+Shadow');*/


@import url('https://fonts.googleapis.com/css?family=Pacifico|Jacques+Francois+Shadow|Poppins:300,400,700|Roboto:400,400b,400i');


/* BEGIN navbar */
.navbar {
  background-color: #1B998B;
  font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
}

.navbar-brand, .nav-link {
  color: #F2EFED;
}

.navbar-brand:hover, .nav-link:hover {
  color: #ffffff;
}

.navbar-toggler {
  color: #F2EFED;
}
/* END navbar */

/* BEGIN jumbotron */
.jumbotron {
  text-align: center;
  margin: 0;
  padding: 2em;
}
/* END jumbotron */

/* BEGIN card */
.card {
  margin-bottom: 1.5em;
  background-color: rgba(0,0,0,0);
  border: none;
  font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
  /*height: auto;*/

}

/*Scales project cover cards */
.card-img{
	height: auto;
	width: 100%;

}
/* Scales project images */
img{
	width: 80%;
	display: block;
	margin: 0 auto;
}

/* Hover Over effect for project cards */
.card:hover{
	background-color: #1B998B;
	color: white;
}

.color-overlay figure{
	background-color: #1B998B;
}

.color-overlay figure .card-img{
	filter: opacity(1);
	transition: all .2s ease;

}

.color-overlay:hover figure .card-img{
	filter: opacity(.4);

}

.card-title {
  font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  margin: 0.5em 0;
}
/* END card */


/* BEGIN misc body text */
body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: #35393B;
  background-color: #FDFCFC;
  font-size: 18px;
}

h2 {
  margin: 1em 0;
}

/*	HERO  */

.hero{
	height: 640px;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-image: url("../img/hero.png");
}
.brief-about{
	margin: 200px 0;
}
.headline, .lead {
  color: #fff;
  text-align: left;
  font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
}

.headline span{
  color: #552ca8;
}
.headline{
	font-size: 4em;
	font-weight: 400;
}


.lead{
	font-size: 1.75em;
}

.design{
  font-family: 'Pacifico', cursive;
}

.build{
  font-family: 'Jacques Francois Shadow', cursive;
}


/* Begin footer */

footer {
  width: 100%;
  background-color: #1B998B;
	color: white;
  text-align: center;
  padding: 1.5em 0;
  height: 3em;
  margin-top: 10em;
}
i.fa-heart {
  color: #552ca8;
}
code {
  color: #35393B;
}

/* End footer */

a {
	color: #1B998B;
}

a:hover {
  text-decoration: none;
  color: #1B998B;
}

/* highlight */
::selection {
    background: #1B998B;
    color: #F2EFED;
}
/* END misc body text */

/* BEGIN footer */
footer {
  height: 5em;
}

/* END footer */


/* BEGIN About */
.about {

}
.about h2 {
  /*margin-top: 0;*/
}

/* END About */
.contact {
  margin-top: 1em;
}

/* BEGIN Contact */


.social {
  padding: 1em 0 1em 0;
  /*margin-top: 1em;*/
}

.social-icons {
  list-style: none;
  padding-left: 0;

}

.social-icons li {
  display: inline;
  margin-right: 5%;

}
.social-icons li :hover, :active {
  color: #552CA8;
  cursor: pointer;
}
.social-icons li :visited {
  color: #1B998B;
}


/* END contact social media icons */
