/* font import */
@import url('https://fonts.googleapis.com/css?family=Pacifico|Jacques+Francois+Shadow|Poppins:300,400,700|Roboto:400,400b,400i');

/* BEGIN navbar */
.navbar {
  background-color: #1B998B;
  font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
}

.navbar-brand, .nav-link {
  color: #F2EFED;
}

.navbar-brand:hover, .nav-link:hover {
  color: #ffffff;
}

.navbar-toggler {
  color: #F2EFED;
}
/* END navbar */

/* BEGIN jumbotron */
.jumbotron {
  background-color: #FDFCFC;
  text-align: center;
  margin: 0;
  padding: 2em;
  
  position: relative;
}
/* END jumbotron */

/* BEGIN card */
.card {
  margin-bottom: 1.5em;
  background-color: rgba(0,0,0,0);
  border: none;
  font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
}

/*Scales project cover cards */
.card-img{
	height: auto;
	width: 100%;

}
/* Scales project images */
img{
	width: 80%;
	display: block;
	margin: 0 auto;
}

/* Hover Over effect for project cards */
.card:hover{
	background-color: #1B998B;
	color: white;
}

.color-overlay figure{
	background-color: #1B998B;
}

.color-overlay figure .card-img{
	filter: opacity(1);
	transition: all .2s ease;
}

.color-overlay:hover figure .card-img{
	filter: opacity(.4);
}

.card-title {
  font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  margin: 0.5em 0;
}
/* END card */


/* BEGIN misc body text */
body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: #35393B;
  background-color: #FDFCFC;
  font-size: 18px;
  height: 100%;
  width: 100%;
}

section{
	background-color: #FDFCFC;
	z-index: 1;
}

h2 {
  margin: 1em 0;
}

/*	HERO*/
.hero{
	height: 500px;
	width: 100%;
}
.hero-text{
	position: relative;
}
.hero-text .brief-about{
  height: 200px;
  margin-top: 100px;
  transform: translate(0, 50%);
  position: absolute;
  top: 50%;
}

.headline, .lead {
  color: #1b998b;
  text-align: center;
  font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
}

.headline, .lead, span{
  color: #552ca8;
}
.brief-about .headline{
	font-size: 4em;
	font-weight: 400;
	text-align: left;
	color: #fff;
}
.brief-about .lead{
	font-size: 1.75em;
	text-align: left;
	color: #fff;
}
.design{
  font-family: 'Pacifico', cursive;
}
.build{
  font-family: 'Jacques Francois Shadow', cursive;
}
/* END Hero */

a {
	color: #1B998B;
}

a:hover {
  text-decoration: none;
  color: #1B998B;
}

/* highlight */
::selection {
    background: #1B998B;
    color: #F2EFED;
}
/* END misc body text */

/* BEGIN footer */
footer {
  height: 5em;
}

/* END footer */


/* BEGIN About */
.about {

}
.about h2 {
  /*margin-top: 0;*/
}

/* END About */
.contact {
  margin-top: 1em;
}

/* BEGIN Contact */


.social {
  padding: 1em 0 1em 0;
  /*margin-top: 1em;*/
}

.social-icons {
  list-style: none;
  padding-left: 0;

}

.social-icons li {
  display: inline;
  margin-right: 5%;

}
.social-icons li :hover, :active {
  color: #552CA8;
  cursor: pointer;
}
.social-icons li :visited {
  color: #1B998B;
}


/* END contact social media icons */

/* PARALLAX: Creates simple scrolling parallax, placed before the hero. */
.parallax-container{
	min-height: 500px;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-image: url("../img/hero.png");
	margin-bottom: 4em;
}
